.idea
node_modules
.graphql-generated
public/_graphql
public/_res
public/assets
public/web.config
.env
vendor
themes/app/client/dist/css
themes/app/client/dist/javascript
themes/silverstripe-base-theme